@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Rubik:ital,wght@0,500;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  color: white;
}
:root {
  --green: #ff2600;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}
.container form {
  flex: 0 1;
  min-height: 500px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  background-color: #000000;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 1px 2px 13px -1px #ff2600;
}
.container form h1 {
  font-size: 3rem;
  color: white;
  font-weight: 400;
  margin-bottom: 1rem;
}
.container form .t-input {
  position: relative;
  width: 100%;
}
.container form .t-input input {
  width: 100%;
  min-height: 40px;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  /* border-bottom: 2px solid; */
  font-size: 1rem;
  font-weight: lighter;
  position: relative;
  white-space: 0.5;
  caret-color: var(--green);
}
.container form .t-input input::placeholder {
  opacity: 0;
}
.container form .t-input .b-line {
  content: "";
  position: absolute;
  height: 2px;
  width: 35%;
  background: linear-gradient(90deg, var(--green) 0%, transparent 100%);
  bottom: 0;
  left: 0;
  transition-duration: 300ms;
}
.container form .t-input input:not(:placeholder-shown) ~ .b-line,
.container form .t-input:hover .b-line,
.container form .t-input:focus-within .b-line {
  background: linear-gradient(90deg, var(--green) 0%, transparent 100%);
  width: 100%;
}
.container form .t-input label {
  outline: none;
}
.container form .t-input:hover label {
  color: var(--green);
}
.container form .t-input input + label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
  transition-duration: 150ms;
}
.container form .t-input input:not(:placeholder-shown) + label,
.container form .t-input input:focus + label {
  font-size: 0.75rem;
  transform: translateY(-180%);
  -webkit-transform: translateY(-180%);
  -moz-transform: translateY(-180%);
  -ms-transform: translateY(-180%);
  -o-transform: translateY(-180%);
  color: var(--green);
}

.container form button {
  align-self: flex-end;
  width: 100px;
  height: 40px;
  background: transparent;
  position: relative;
  font-size: 1rem;
  border: none;
  transition-duration: 300ms;
  font-weight: 700;
  border: 1px solid var(--green);
  color: white;
  z-index: 1;
  border-radius: 2rem;
  animation: neon 2s infinite linear;
}

.container form button:focus,
.container form button:hover {
  background: var(--green);
  border: none;
  outline: 1px solid var(--green);
  color: white;
  animation: none;
  box-shadow: 0 0 20px 10px #ff2600;
}
