.navbar {
  background-color: transparent;
  border-width: 5px;
  border-color: transparent;
  background-image: url("../assets/TT_Blanco.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2px;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.navbar-links {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.navbar-link {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #000000, #ffffff);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.961);
}

.navbar-link:hover {
  color: #ffffff;
  background-image: none;
  background-color: #9d9797;
  box-shadow: 0 4px 8px rgb(253, 253, 253);
}
