/* @import url('../fonts/olde_english/OldeEnglish.ttf'); */
@font-face {
    font-family: 'NombreDeLaFuente';
    src: url('../fonts/olde_english/OldeEnglish.ttf') format('truetype');
    /* Otras opciones de formato según los archivos de fuente disponibles */
    font-weight: normal;
    font-style: normal;
  }
 
.fontClass{
    font-family: NombreDeLaFuente,sans-serif;
}
